body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    font-weight: 600;
}

h1 {
    font-size: 50px;
}

.head_color {
    color: tomato;
}

.para_container {
    display: flex;
    margin-bottom: 50px;

}

.half_portions {
    width: 50%;
    padding-left: 5%;
}

.half_portions img {
    width: 70%;
}

.one_third {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px gray;
}

.light_salmon {
    background-color: lightsalmon;
}

.light_sayan {
    background-color: lightcyan;
}

.light_skyblue {
    background-color: lightskyblue;
    background-image: element(images/illustrators/illustrator-1.png);
}

.para_container {
    width: 80%;
    padding-left: 5%;
}

.one_third {
    width: 33%;
}

.link_button {
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;

}

.fourth_part {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 400px;
    background-size: 300px;


}

.middle {
    text-align: center;

}

.wall {
    text-align: center;

    background-color: black;
    background-position: bottom;
    height: 120px;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 10px;
}

.foot {
    color: white;



}